.boton-hambur {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1100; /* Asegurarse de que esté por encima del contenido */
  }
  
  .hamburger-icon {
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
  }
  