/* Estilos específicos para el perfil */
.perfil-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;             
    width: 100%;
    background-color: rgb(32, 47, 54);
    color: white;
  }
  
  .perfil-card {
    background-color: #2c2f33;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    text-align: right;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .perfil-photo {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .perfil-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }  
  
  .perfil-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin: 1rem 0;
    width: 100%;
    text-align: left;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #444;
    color: white;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #32a852;
  }
  
  .form-group label {
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
  }
  
  .save-btn {
    margin-top: 2rem;
    background-color: #3498db; /* Azul clarito */
    color: black; /* Texto negro */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(41, 128, 185, 0.6); /* Azul más oscuro como sombra */
  }
  
  .save-btn:hover {
    background-color: #2980b9; /* Azul más oscuro al pasar el mouse */
    box-shadow: 0 6px 8px rgba(41, 128, 185, 0.8);
  }
  
  .save-btn:focus {
    outline: none;
  }
  
  .save-btn:disabled {
    background-color: #919090;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
    font-weight: normal;
  }
  